.bar {
  fill: var(--site-main-color);
}

.bar-label {
  fill: var(--site-second-color);
  font-size: 13px;
  text-anchor: middle;
}

.bar:hover {
  fill: var(--site-third-color);
  cursor: pointer;
  filter: brightness(110%);
}

.axis path {
  stroke: var(--site-main-color);
}

.axis line {
  display: none;
}

.axis text {
  fill: var(--site-second-color);
  text-anchor: middle;
}
