.official-bar {
  fill: var(--site-main-color);
}

.official-bar-label {
  fill: var(--site-second-color);
  font-size: 13px;
  text-anchor: middle;
}

.official-bar:hover {
  fill: var(--site-third-color);
  cursor: pointer;
  filter: brightness(110%);
}

.official-axis path {
  stroke: var(--site-main-color);
}

.official-axis line {
  display: none;
}

.official-axis text {
  fill: var(--site-second-color);
  text-anchor: middle;
}
