.bar {
  fill: #235ee9;
}

.bar-label {
  fill: #98a8b4;
  font-size: 13px;
  text-anchor: middle;
}

.bar:hover {
  fill: #2667FF;
  cursor: pointer;
  filter: brightness(110%);
}

.axis path {
  stroke: #235ee9;
}

.axis line {
  display: none;
}

.axis text {
  fill: #98a8b4;
  text-anchor: middle;
}
