.d3-internet {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.d3-internet-title {
  color: var(--site-main-font-color);
  font-size: 20px;
  margin-top: 14px;
  margin-left: 60px;
  text-align: left;
}

.d3-internet img {
  align-self: start;
  margin-left: 30px;
}

.d3-internet-content {
  display: flex;
  flex: 0 0 100%;
  flex-direction: column;
  color: var(--site-main-font-color);
}

.d3-internet-content-total-state {
  display: flex;
  flex: 1 0 50%;
  margin-top: 24px;
  min-height: 136px;
}

.d3-internet-content-index-count,
.d3-internet-content-high-risk {
  flex: 0 0 50%;
}

