.official-arc:hover {
  filter: brightness(110%);
}

.official-arc text {
  font: 10px sans-serif;
  text-anchor: middle;
}

.official-arc-text {
  fill: var(--site-main-font-color);
  font: 14px sans-serif;
}

.official-arc-label {
  color: var(--site-second-color);
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.official-tip {
  position: relative;
  top: -10px;
  left: 10px;
}

.official-tip-container {
  display: flex;
  align-items: center;
  position: absolute;
  background-color: var(--site-second-bg-color);
  padding: 5px;
  border-radius: 5px;
}

.official-tip-icon {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 5px;
}
