:root {
  --site-main-bg-color: #0a0a11;
  --site-second-bg-color: #262628;
  --site-main-font-color: #fff;
  --site-main-color: #235ee9;
  --site-second-color: #98a8b4;
  --site-third-color: #2667FF;
}
